/* 
File: index.css
Student: CHAN, Oi Yan Irene
StudentID: 301309424
Date: May 25, 2024
*/

/* set the default text color of the entire page */
*{
    color: #00356B;
    background-color: rgb(250, 250, 250);
}